In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## Reading The dataset

In [1]:
df = pd.read_csv('../input/hotel-booking/hotel_booking.csv')

## Obtainig Basic Information about DataFrame

In [1]:
df.head()

In [1]:
df.info()

Based on information above we can conclude:
1. This dataset has 119390 rows and 36 columns
2. Company column has the most missing data. because it has only 6797 Non-Null rows

## Remove a column

In [1]:
df = df.drop('company', axis = 1)

In [1]:
df.info()

## 5 Countries with the most passengers

In [1]:
df['country'].value_counts().head()

## Person with the greatest ADR

In [1]:
df['adr'].idxmax()

In [1]:
df[['name', 'adr']].iloc[48515]

## ADR average (rounded)

In [1]:
np.round(df['adr'].mean(), 2)

## Average of total staying nights

In [1]:
df['stays'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']
np.round(df['stays'].mean(), 2)

## Name and email of persons with 5 special requests

In [1]:
df[df['total_of_special_requests'] == 5][['name', 'email']]

## Most common last names in dataset

First we should seperate first name and last name.
we can do this in two ways.

seprating first name and last name by space. but this cause a problem for name strings with more than one space. so we have to set a condition to exlude them.

In [1]:
df[['first_name','last_name']] = df['name'].loc[df['name'].str.split().str.len() == 2].str.split(expand=True)
df['last_name'].value_counts().head()

another way for finding last names is to split names by space and assume last elemnt is last name.

In [1]:
df['name'].str.split().str[-1].value_counts().head()

## Persons with most childern and babies

In [1]:
df['children_and_babies'] = df['children'] + df['babies']
df.sort_values(['children_and_babies'], ascending = False).head()

## Most common phone codes for check-outs

In [1]:
check_out_phone_df = pd.DataFrame(df, columns= ['reservation_status','phone-number'])[df['reservation_status'] == 'Check-Out']
check_out_phone_df['phone-number'].str.split('-').str[0].value_counts().head(3)