In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Learn Pandas Basics and Visualization using Seaborn

# Part 1

__This part covers the following concepts of the Pandas__

1.reading csv and creating the data frame

2.shape, columns, dtypes attributes

3.info, describe methods

4.loc,iloc for selection

5.sorting, crosstab, groupby 

6.filtering rows, columns

7.rename columns

8.sample practice

9.creating new columns

In [1]:
## Importing the datasets
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")

# pandas DataFrame attributes - shape, columns, dtypes
 shape, columns and dtypes are attributes of the dataframe and they don't need the paranthesis ()
 in this step let us check these attributes

In [1]:
#get the shape of the dataframe 
train.shape

The above output of shape attribute returns a tuple with two values - the first one indicates the number of rows and the other indicates the numbero of columns/feature

891 - rows
12 - columns

In [1]:
#get the columns of the data frame
train.columns

The above columns attribute returns the list of all the column names of the data frame

In [1]:
#get the data type of the columns using dtypes attribute
train.dtypes

dtypes attribute returns the data type of every feature present in the dataset

object meaning string, int meaning whole number and float meaning the number with decimals

# info() 
This method can be used to get more information of the data

In [1]:
train.info()

# describe()
this method is used to get the statistical details like mean, count, std deviation ,min,max,median and the percentile summaries

In [1]:
train.describe()

# type function

To know the kind of python object which we are working on we can use the type function as shown below

In [1]:
print(f"train is of type : {type(train)} ")
print(f"shape attribute returns : {type(train.shape)} ")
print(f"columns attribute returns : {type(train.columns)} ")
print(f"dtypes attribute returns : {type(train.dtypes)} ")

# Real quick feel of data - head,tail,sample methods

Once the dataframe is loaded, to check if the data is properly loaded and get the initial sense of the data we can use the head,tail and sample methods as discussed below

In [1]:
#head method by default gives the first/top five rows of the dataframe
train.head()  # index 0 to 4

In [1]:
#the number of rows returned from head method can be controlled by passing the argument n
train.head(n=4)

In [1]:
train.head(3)

In [1]:
#tail method is similar to head but fetches rows from the bottom

train.tail()

In [1]:
train.tail(n=3)

In [1]:
train.tail(4)

In [1]:
# sample() randomly selects the rows and displays and the default number of rows displayed is 1

train.sample()

In [1]:
train.sample(n=4)

In [1]:
train.sample(2)

# row selection for a range
>

In [1]:
# display first 10 rows
train[0:10] # 0 inclusive and 10 exclusive

# Column selection

In the above methods we have seen that all the columns in the data frame is displayed during the retrieval. Also there are provisons to filter the columns and display only the columns of interest

In [1]:
# just display name column
train['Name'].sample(5)

In [1]:
# display multiple columns
cols = ['Name','Sex','Age']
train[cols].sample(5)

# loc

loc is label based fitering method where we have to specify the names of the rows and columns for filtering. index are the row labels and the columns are the column labels

In [1]:
#loc for displaying a particular row

#display 99th row

train.loc[98]  #index starts from 0

In [1]:
#display 1st,25th,50th rows

train.loc[[0,24,49]]

In [1]:
#display from 15th row to 20th
# In loc the start and end are inclusive
train.loc[14:19]

In [1]:
#display from 15th row to 20th only Name
train.loc[14:19]['Name']

In [1]:
#display from 15th row to 20th only Name, Age
train.loc[14:19][['Name','Age']]

# column range

In [1]:
#display from 15th row to 20th and all columns between name and embarked
train.loc[14:19,'Name':'Embarked']

In [1]:
# to understand the loc better let us replace the default index and make the name as index just for demonstration purpose
train_temp = train.set_index('Name',inplace=False)

In [1]:
# can see that now the row index is Name and is no more the default index 
train_temp.head()

In [1]:
#loc using the new name index
train_temp.loc['Braund, Mr. Owen Harris']

In [1]:
# display rows using the range
train_temp.loc['Braund, Mr. Owen Harris':'Allen, Mr. William Henry']

In [1]:
#displaying rows using loc range and filter columns as well
train_temp.loc['Braund, Mr. Owen Harris':'Allen, Mr. William Henry', 'PassengerId':'Embarked']

# loc 
As shown in the above cells the loc of the data frame operates on the labels be it rows(index) or columns(column names)

# iloc

in contrary to loc iloc uses the integer based locations for selection and also in loc both start and end labels are inlcusive where as in the iloc the start is inclusive where as the end it not inclusive

In [1]:
# select 0 to 9 rows with all the columns

train.iloc[0:10] # 0 is inclusive and 10 is exclusive

In [1]:
# select 0 to 9 rows with all the columns

train.iloc[0:10,:]

In [1]:
# select 0 to 9 rows 3 to 5 columns

train.iloc[0:10,3:6]  # 0 inclusive,10 exclusive, 3 inclusive, 6 exclusive

In [1]:
# select particular row
train.iloc[10,:]

Get the age of the person whose name is "Allen, Mr. William Henry"

In [1]:
train_temp.loc['Allen, Mr. William Henry','Age']

> Get all the rows where age is 25

In [1]:
train_temp.loc[train_temp.Age==25]

Get all the rows where age is 25 and sex is male

In [1]:
train_temp.loc[(train_temp.Age==25) & (train_temp.Sex=='male')]

get the last 100 rows having the last 8 columns

In [1]:
train.iloc[-100:, -8:]

# groupby

This is used to seggregated the data in to groups based on some criteria

In [1]:
grouped_by_age = train.groupby('Sex')
grouped_by_age.sample(5)

Get the mean of the age for each gender

In [1]:
train.groupby('Sex')['Age'].mean()

for each gender get the total count of survived

get the count of females survived and males survived

In [1]:
train[train.Survived==1].groupby('Sex').nunique()

Get the count of people survived whose age >=50

In [1]:
print(train[(train.Survived==1) & (train.Age>=50)].shape[0])
print(len(train[(train.Survived==1) & (train.Age>=50)]))

for each gender categorise as per the age and get the count

In [1]:
train.groupby('Sex')['Age'].value_counts()

# Sorting Data by Column Values

In [1]:
train.sort_values('Name').head(5)

In [1]:
train.sort_values('Name').tail(5)

# Rename Columns

Rename column sex to gender and Fare to Cost

In [1]:
train.rename(columns={'Sex':'Gender','Fare':'Cost'}, inplace=False)  #inplace is False and hence this change is temporary

In [1]:
pd.crosstab(train['Sex'],train['Survived'])

In [1]:
pd.crosstab(train['Survived'],train['Sex'])

# Practice

In [1]:
# get the mean age of the survived
train[train.Survived ==1]['Age'].mean()

In [1]:
# get the mean age of all the male survived
train[(train.Survived ==1) & (train.Sex=='male')]['Age'].mean()

In [1]:
# get the mean age of all the fe-male survived
train[(train.Survived ==1) & (train.Sex=='female')]['Age'].mean()

In [1]:
#get all the rows where embarked value = S
train_temp = train.dropna()
train_temp[train_temp.Embarked=='S']

 use loc to fetch rows between 10 & 20 with the columns bwn Name & Embarked

In [1]:
train.loc[10:20:,'Name':'Embarked']

use iloc to fetch rows between 10 & 20 with the columns bwn Name & Embarked

In [1]:
train.iloc[10:21:,3:12]

Get the total fare paid group by the sex

In [1]:
train.groupby('Sex')['Fare'].sum()

Get the Mean fare paid group by Survived

In [1]:
train.groupby('Survived')['Fare'].sum()

Get the count of male and female passengers

In [1]:
train['Sex'].value_counts()

get the mean fare price grouped by Embarked

In [1]:
train.groupby('Embarked')['Fare'].mean()

get the count of survived group by sex

In [1]:
train_survived = train[train['Survived']==1]
train_survived['Sex'].value_counts()

# Create new columns based on age called age_group

age<12 call child

age<20 call it teen

age>=20 and age <=50 call it adult

age>50 call it senior

In [1]:
def categorise_age(age):
    if age <= 12 : 
        return 'child'
    if age <= 20 : 
        return 'teen'
    if age >50 :
        return 'senior'
    else :
        return 'adult'

train['age_group']=train.Age.apply(lambda x :  categorise_age(x))

In [1]:
train.age_group.value_counts()

# Part 2 - Visualization with seaborn

In [1]:
import matplotlib as plt
%matplotlib inline
import seaborn as sns

# get the count plot based on the Sex

In [1]:
sns.countplot(train.Sex)

In [1]:
sns.countplot(train.age_group)

In [1]:
sns.countplot(train.Survived)

In [1]:
sns.catplot(x='Sex',y='Survived',kind='bar',data=train)

In [1]:
sns.catplot(x='age_group',y='Survived',kind='bar',data=train)

# Correlation with Heatmap

In [1]:
corr_matrix = train.corr()
corr_matrix['Survived']

In [1]:
sns.heatmap(corr_matrix)